/* profiles page */
body{
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.profiles-bg {
    min-height: 100vh;
    width: 100%;
    background-color: #141414;

    background-image: linear-gradient(to bottom,
            #000000 0%,
           
            #141414 10%,
          
            #141414 100%,
          
            #000000 100%
        );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profiles-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1vh;
    display: flex;
    align-items: center;
}

.profiles-title {
    margin: 0 0 2vh;
    color: #fff;
    font-size: 3.5vw;
    font-weight: unset;
    text-align: center;
}

.profile-card {
    text-align: center;
    cursor: pointer;
}

.profile-avatar {
        min-width:84px;
    width: 10vw;
    height: auto;
    display: block;
    border-radius: 6px;
    border: 3px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
}

.profile-name {
    display: block;
    margin-top: 0.75vh;
    color: #808080;
    font-size: 1.3vw;
    text-align: center;
    width: auto;
}

.profile-card:hover .profile-avatar {
    border: 3px solid #fff;
}

.profile-card:hover .profile-name {
    color: #fff;
}

.add-profile-swap {
    position: relative;
    height: 10vw;
    aspect-ratio: 1 / 1;
    min-height: 84px;
}

.add-profile-swap img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    min-height: 84px;
}

.img-hover {
    opacity: 0;
    transition: opacity 0.2s;
}

.add-profile-card:hover .img-hover {
    opacity: 1;
}

.add-profile-card:hover .img-default {
    opacity: 0;
}

.add-profile-card:hover .profile-avatar {
  border: none !important;
}

@media (max-width: 840px){        
        .profile-name, .add-profile-swap{
            font-size: 11px;
        }

        .profiles-title{
            font-size: 30px;
        }
}